In [4]:
import pandas as pd

In [2]:
pwd

'D:\\DataSciencePython\\DataScience\\Pandas'

# CSV and EXCEL

In [6]:
df =pd.read_excel('Excel_Sample.xlsx')

In [14]:
df.to_csv('My_output',index=False)

In [15]:
pd.read_csv('My_output')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

# HTML

In [16]:
data = pd.read_html("https://www.fdic.gov/bank/individual/failed/banklist.html")

ValueError: No tables found