In [15]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)#same as Part1

In [16]:
#Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index =pd.MultiIndex.from_tuples(hier_index)

In [17]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [18]:
inside

[1, 2, 3, 1, 2, 3]

In [19]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [20]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

# Multilevels Index or index hierarchy

In [21]:
df =pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [23]:
df  # hier output 2 levels G1 and G2

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [24]:
df.loc['G1'].loc[1]

A    2.706850
B    0.628133
Name: 1, dtype: float64

In [25]:
df.index.names

FrozenList([None, None])

In [27]:
df.index.names=['Groups','Num'] #outside and inside

In [28]:
df

                   A         B
Groups Num
G1     1    2.706850  0.628133
       2    0.907969  0.503826
       3    0.651118 -0.319318
G2     1   -0.848077  0.605965
       2   -2.018168  0.740122
       3    0.528813 -0.589001

In [29]:
#output o.503826 from G1

In [31]:
df.loc['G1'].loc[2]['B']

0.5038257538223936

# cross section of rows and columns (xs)

In [32]:
df.xs('G1')

            A         B
Num
1    2.706850  0.628133
2    0.907969  0.503826
3    0.651118 -0.319318

In [33]:
df.xs(1,level ='Num') #gives all the output wher num=1

               A         B
Groups
G1      2.706850  0.628133
G2     -0.848077  0.605965