In [1]:
import pandas as pd
import numpy as np

# Pandas as Series

In [2]:
labels =['a','b','c']
my_data =[10,20,30]
arr= np.array(my_data)
d ={'a':10, 'b':20,'c':30}

In [3]:
pd.Series(data = my_data) #only get the data

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data = my_data, index=labels) #data with labels

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_data,labels) #data with labels in order

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(arr,labels) #passing the List

a    10
b    20
c    30
dtype: int32

In [7]:
 pd.Series(d) #passing the dict

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(labels) # can also get labels only

0    a
1    b
2    c
dtype: object

In [9]:
ser1=pd.Series([1,2,3,4],['USA','GER','USSR','JAPAN'])

In [10]:
ser1

USA      1
GER      2
USSR     3
JAPAN    4
dtype: int64

In [11]:
ser2=pd.Series([1,2,5,4],['USA','GER','Italy','JAPAN'])

In [12]:
ser1['USA'] #output =1

1

In [13]:
ser3=pd.Series(data=labels)

In [14]:
ser3[0]#pass the actual index

'a'

In [16]:
ser1+ser2 #lets see what will happen if we try to add
#Italy and USSR will give Nan

GER      4.0
Italy    NaN
JAPAN    8.0
USA      2.0
USSR     NaN
dtype: float64